{% extends "base.html" %}
{% block context %}
    <div class="container clearfix">
        <div class="content clearfix">
            <div class="main_h1">
                <h1 style="color: #4f4f4f;">Ошибка 404. Страница не найдена.</h1>
            </div>
        </div>
    </div>
{% endblock %}
