<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    {% block title %}
	    <title>Главная</title>
    {% endblock title %}

</head>
<body>

{% block context %}

{% endblock context %}

</body>
</html>