{% extends 'base.html' %}
{% block context %}
    <h1>TICKERS</h1>
    <ul>
        {% for item in tickers %}
            <li><a href="/{{ item.name }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
    <div>
        <a href='/api/'>Данные в JSON</a>
    </div>
{% endblock context %}

