{% extends 'base.html' %}
{% block title %}
    <title>Торговля совладельцев {{ ticker }}</title>
{% endblock title %}

{% block context %}
    <h1>Данные о торговле владельцев компании: {{ company_name }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Transaction Type</th>
                <th>Shares Traded</th>
                <th>Last Price</th>
                <th>Shares Held</th>
            </tr>
        </thead>
        <tbody>
            {% for item in trades %}
                <tr>
                    <td>
                        <a href="/{{ ticker }}/insider/{{ find_name(item.co_owner_id) }}">
                            {{ find_name(item.co_owner_id) }}
                        </a>
                    </td>
                    <td>{{ item.date}}</td>
                    <td>{{ item.transaction_type}}</td>
                    <td>{{ item.shares_traded }}</td>
                    <td>{{ item.last_price }}</td>
                    <td>{{ item.shares_held}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href='/api/{{ ticker }}/insider'>Данные в JSON</a>
    </div>
{% endblock context %}
