{% extends 'base.html' %}
{% block title %}
<title>Аналитика</title>
{% endblock title %}

{% block context %}
    <h1>Ticker: {{ ticker }}</h1>
<form action="" method="get">
    <div>
        <input type="date" name="date_from">
        <input type="date" name="date_to">
    </div>
    <p><input type="submit" value="Show"></p>
</form>
{% if prices %}
<div>
    <p>Date From: {{ date_from }}</p>
    <p>Date To: {{ date_to }}</p>
    <table>
        <thead>
        <tr>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ prices['open'] }}</td>
            <td>{{ prices['high'] }}</td>
            <td>{{ prices['low'] }}</td>
            <td>{{ prices['close'] }}</td>
        </tr>
        </tbody>
    </table>
</div>
{% else %}
<div>
    <p>Введите диапазон дат и нажмите Show</p>
</div>
{% endif %}
{% endblock context %}