{% extends 'base.html' %}
{% block title %}
<title>Минимальные периоды изменения</title>
{% endblock title %}

{% block context %}
    <h1>Ticker: {{ ticker }}</h1>
<form action="" method="get">
    <div>
        <input type="number" name="value">
        <select name="price_type" required>
            <option disabled selected>Choice type</option>
            <option value="open">open</option>
            <option value="high">high</option>
            <option value="low">low</option>
            <option value="close">close</option>
        </select>
    </div>
    <p><input type="submit" value="Show"></p>
</form>
{% if ranges %}
<div>
    <p>Найденные минимальные периоды:</p>
    {% for item in ranges %}
        <p>{{ item[0] }} - {{ item[1] }}</p>
    {% endfor %}
</div>
{% endif %}

{% endblock context %}