{% extends 'base.html' %}
{% block title %}
    <title>{{ ticker }}</title>
{% endblock title %}

{% block context %}
    <p><a href="/{{ ticker }}/insider">Данные о торговле владельцами компании: {{ company_name }}</a></p>
    <p><a href="/{{ ticker }}/analytics">Аналитика за период</a></p>
    <p><a href="/{{ ticker }}/delta">Минимальные периоды изменения цены</a></p>
    <h1>Сводка цен за 3 месяца для акции: {{ ticker }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Date</th>
                <th>Open price</th>
                <th>High price</th>
                <th>Low price</th>
                <th>Close price</th>
                <th>Volume</th>
            </tr>
        </thead>
        <tbody>
            {% for item in prices %}
            <tr>
                <td>{{ item.date.day }}.{{ item.date.month }}.{{ item.date.year }}</td>
                <td>{{ item.open }}</td>
                <td>{{ item.high }}</td>
                <td>{{ item.low }}</td>
                <td>{{ item.close }}</td>
                <td>{{ item.volume }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <a href='/api/{{ ticker }}'>Данные в JSON</a>
    </div>
{% endblock context %}