{% extends 'base.html' %}
{% block title %}
    <title>{{ insider.name }}</title>
{% endblock title %}

{% block context %}
    <h1>Insider: {{ insider.name }}</h1>
    <h2>Relation: {{ insider.relation }}</h2>
    <h2>Owner Type: {{ insider.owner_type }}</h2>
        <table border="1">
        <thead>
            <tr>
                <th>Date</th>
                <th>Transaction Type</th>
                <th>Shares Traded</th>
                <th>Last Price</th>
                <th>Shares Held</th>
            </tr>
        </thead>
        <tbody>
            {% for item in trades %}
                <tr>
                    <td>{{ item.date}}</td>
                    <td>{{ item.transaction_type}}</td>
                    <td>{{ item.shares_traded }}</td>
                    <td>{{ item.last_price }}</td>
                    <td>{{ item.shares_held}}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    <div>
        <a href='/api/{{ ticker }}/insider/{{ insider.name }}'>Данные в JSON</a>
    </div>
{% endblock context %}